<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="headerFragment">
       <div class="lnb">
           <div class="logo">
                <a th:href="@{bdList}"> </a>
           </div>
           
           <div class="useInfo">
               <span>wan</span>
           </div>
           
           <ul class="nav">
               <th:block>
<!--               <th:block th:if="${session.userAuth}==3"> 쿼리스트링보내기-->
                   <th:block th:if = "${session.mbLevel} ==3">
                   <li class="on"><a class="menu1" href="@{mbList(page=1)}">멤버정보</a></li>
                   </th:block>
               </th:block>
               <th:block>
                   <li class="on"><a class="menu1" th:href="@{bdList}">소통 게시판</a></li>
               </th:block>
               <th:block>
                   <li class="on"><a class="menu1" th:href="@{chat}">내채팅</a></li>
               </th:block>
           </ul>
       </div>
    </header>
</html>