<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kr.mapper.RepleMapper">

<!-- select all -->
<select id = "repleList" resultType = "com.co.kr.domain.RepleDomain" parameterType="int">
	select bd_seq, mb_id, content, create_at
	from jsp.reple where bd_seq = #{bdSeq}  order by create_at desc
</select>

<!-- content insert -->
<insert id = "repleUpload" parameterType = "com.co.kr.domain.RepleDomain"
useGeneratedKeys = "true" keyProperty = "bdSeq" keyColumn = "bd_seq">
	insert into jsp.reple (mb_id,bd_seq,content,create_at) values (#{mbId},#{bdSeq},#{reContent},now())
</insert>
<!-- Content Delete -->
<delete id="repleDelete" parameterType="hashMap">
	delete from jsp.reple where bd_seq=#{bdSeq}
</delete>

</mapper>